.main {
    background-color: aqua;
}

.rice {
    background-color: rgb(221, 128, 61);
}

.pot-pie {
    background-color: rgb(250, 35, 78);
}

.chicken-wings {
    background-color: yellowgreen;
}

.main-img {
    border: 5px solid red;
}

.rice-img {
    border: 5px solid cyan;
}

.pie {
    border: 5px solid black;
}

.wings {
    border: 5px solid pink;
}

body {
    text-align: center;
}

ul, ol {
    padding-left: 0;
}

ul li, ol li {
    list-style-position: inside;
}